@font-face {
    font-family: "Ace Attorney";
    src: local('Ace Attorney'), url('./fonts/Ace-Attorney.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ace attorney", sans-serif;
}

#TextBox {
  height:100px;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 100%;
  font-size: 28px;
  padding: 10px;
  box-sizing: border-box;
}

#ViewWindow {
  flex: 1;
}
#TitleMenu{
  flex: 1;
  background-image: url('./img/backgrounds/title_bg.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#GameContainer {
  height:600px;
  display: flex;
  flex-direction: column;
}

#GameScreen{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#Footer{
  background-color: black;
  color: white;
  height: 50px;
  padding: 10px;
}

/* UI ELEMENTS */
.choice-button{
  color: white;
  background-color: brown;
  display: block;
  margin: 10px;
  font-size: 20px;
}
