@font-face {
    font-family: "Ace Attorney";
    src: local('Ace Attorney'), url('./fonts/Ace-Attorney.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ace attorney", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#TextBox {
  height:100px;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 100%;
  font-size: 28px;
  padding: 10px;
  box-sizing: border-box;
}

#ViewWindow {
  flex: 1;
  background-image: url('./img/backgrounds/title_bg.png');
  background-size: cover;
}
#GameScreen {
  height:600px;
  display: flex;
  flex-direction: column;
}
